* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: black;
  max-width: 100%;
}

.header-sprite {
  background: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-2x-hm-dsk-reorg._CB405937547_.png);
}

.header-upper {
  display: flex;
  flex-direction: row;
  height: 65px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.header-logo-wrap {
  display: flex;
  width: 110px;
  height: 80%;
  margin-left: 2px;
}

.header-logo {
  width: 110px;
  height: 42px;
  background-position: -5px -97px;
  background-size: 425px;
}

.header-logo-wrap:hover {
  box-shadow: 0 0 0 1px white;
  border-radius: 3px;
}

/* location div */

.header-location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 52px;
  /* border: solid 1px white; */
  color: white;
  margin: 0 15px 0px 5px;
  padding: 0 10px;
}

.header-location-container:hover {
  box-shadow: 0 0 0 1px white;
  border-radius: 3px;
}

.header-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  height: 52px;
  color: white;
  max-width: 165px;
}

.header-location-icon {
  display: flex;
}

.header-location-dot {
  width: 25px;
  height: 25px;
  background-position: -66px -320px;
  background-size: 330px;
  background-repeat: no-repeat;
  margin-top: 10px;
  /* border: solid 1px white; */
}

.header-location-line {
  display: flex;
  flex-direction: column;
}

.header-location-line-1 {
  font-size: 12px;
  line-height: 10px;
  height: 14px;
  font-weight: 300;
  color: rgb(216, 219, 219);
}

.header-location-line-2 {
  font-size: 14px;
  line-height: 10px;
  height: 14px;
  font-weight: 700;
  min-width: fit-content;
  white-space: nowrap;
}

/* search section */

.header-search {
  margin-left: 5px;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  border-radius: 5px;
  margin-right: 13px;
  /* border: solid 1px white; */
}

.header-search-form {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-search-categories {
  font-size: 12px;
  color: rgb(39, 38, 38);
  height: 100%;
  width: fit-content;
  display: flex;
  background-color: rgb(240, 238, 238);
  border-radius: 3px 0 0 3px;
  position: relative;
  overflow: hidden;
}

.header-search-categories:hover {
  background-color: rgb(204, 197, 197);
}

.header-search-categories:focus {
  border: solid 3px orange;
}

.header-search-facade {
  height: 100%;
  width: fit-content;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto 4px;
}

.header-search-list {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* outline: 0; */
  opacity: 0;
  width: auto;
  height: 40px;
}

.header-search-label {
  /* display: block; */
  max-width: 200px;
  min-width: 30px;
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* general dot for header */

.header-dot {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0px 6px;
  border-color: #5c5e5f transparent transparent transparent;
}

.header-search-input {
  flex: 1 1 0;
  height: 100%;
}

#header-search-textbox {
  flex: 1 1 0;
  height: 100%;
  border: none;
  width: 100%;
  padding-left: 10px;
}

#header-search-textbox:focus {
  outline: none;
}

#header-search-textbox:focus .header-search {
  border: solid 3px orange;
}

.header-search-submit {
  height: 100%;
  width: 45px;
  border-radius: 0 3px 3px 0;
}

.header-search-button {
  height: 100%;
  width: 100%;
  background-color: orange;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: flex;
}

.header-search-button:hover {
  background-color: rgb(168, 115, 17);
}

.header-search-icon {
  background-position: -3px -257px;
  background-size: 320px;
  width: 50px;
  height: 55px;
}

.header-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  width: 365px;
  margin-right: 15px;
  height: 80%;
  align-items: center;
}

.header-tool {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header-line1 {
  font-size: 12px;
  line-height: 10px;
  height: 14px;
  font-weight: 300;
}

.header-line2 {
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  font-weight: 600;
  color: white;
}

.header-signin {
  width: fit-content;
  height: 100%;
  padding: 0 10px;
  position: relative;
  /* align-items: center; */
}

.header .header-upper .header-tools .header-signin:hover {
  box-shadow: 0 0 0 1px white;
  border-radius: 2px;
}

.header
  .header-upper
  .header-tools
  .header-signin:hover
  .header-signin-dropdown {
  display: block;
}

.header .header-upper .header-tools .header-signin .header-signin-line2 {
  width: fit-content;
}

.header .header-upper .header-tools .header-signin .header-signin-line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.header-signin-dot {
  margin-left: 3px;
  margin-top: 4px;
}

.header .header-upper .header-tools .header-signin .header-signin-dropdown {
  position: absolute;
  bottom: -90px;
  left: -68px;
  width: 250px;
  height: 95px;
  background-color: white;
  z-index: 2;
  border: solid 1px black;
  border-radius: 2px;
  color: #000;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  border-radius: 3px;
  display: none;
}

.header .header-upper .header-tools .header-signin .header-signin-dropdown a {
  text-decoration: none;
  color: #000;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  a:hover {
  text-decoration: underline;
  color: orange;
}

.header-flexcolumn {
  display: flex;
  flex-direction: column;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 78.2%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-top {
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-top
  button {
  width: 160px;
  height: 35px;
  border: solid 1.5px orange;
  border-radius: 2px;
  font-size: 15px;
  background-image: linear-gradient(
    to top,
    rgb(238, 176, 62),
    rgb(245, 226, 190)
  );
  margin-top: 15px;
  cursor: pointer;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-top
  button:hover {
  background-image: linear-gradient(
    to top,
    rgb(240, 174, 51),
    rgb(240, 211, 157)
  );
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-top
  span {
  font-size: 11px;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-top
  a {
  color: rgb(55, 55, 245);
}

.header-signin-top a:hover {
  text-decoration: underline;
  color: orange;
}

.header-signin-bot {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  line-height: 25px;
  margin-top: 6px;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-bot
  .header-signin-bot-list::after {
  content: "";
  height: 290px;
  width: 0.5px;
  background-color: gray;
  position: absolute;
  left: 50%;
  top: 25%;
}

.header
  .header-upper
  .header-tools
  .header-signin
  .header-signin-dropdown
  .header-signin-bot
  .header-signin-bot-bold {
  font-weight: 600;
  font-size: 14px;
}

.header .header-upper .header-tools .header-return {
  width: 76px;
  flex-direction: row;
  padding: auto 3px;
}

.header .header-upper .header-tools .header-return:hover {
  border: solid 1px white;
  border-radius: 2px;
}

.header-bracket-container {
  width: 84px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}

.header .header-upper .header-tools .header-bracket-container:hover {
  border: solid 1px white;
  border-radius: 2px;
}

.header .header-upper .header-tools .header-bracket-container .header-counter {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  /* border: solid 1px white; */
}

.header
  .header-upper
  .header-tools
  .header-bracket-container
  .header-counter
  .header-counter-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
}

.header-bracket-icon {
  width: 42px;
  height: 28px;
  background-position: -9px -360px;
  background-size: 370px;
}

.header-counter-number {
  position: absolute;
  top: -7px;
  left: 20px;
  color: rgb(253, 169, 0);
  font-size: 18px;
  font-weight: 550;
}

.header .header-nav {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 100%;
  background-color: rgb(34, 34, 63);
  color: whitesmoke;
  margin: auto;
  align-items: center;
  padding-left: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.header .header-nav .header-nav-all {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  height: 25px;
  padding: 5px 9px;
}

.header .header-nav .header-nav-all:hover {
  box-shadow: 0 0 0 1px white;
  border-radius: 2px;
}

.header .header-nav .header-nav-all .header-nav-bar {
  background-position: -170px -254px;
  background-size: 350px;
  width: 24px;
  height: 16px;
  /* box-shadow: 0 0 0 1px white; */
}

.header .header-nav .header-nav-link {
  display: flex;
  flex-direction: row;
}

.header .header-nav a {
  color: whitesmoke;
  text-decoration: none;
  margin: auto 5px;
  font-size: 14px;
  padding: 5px 9px;
  white-space: nowrap;
}

.header .header-nav a:hover {
  box-shadow: 0 0 0 1px white;
  border-radius: 2px;
}

@media only screen and (max-width: 1000px) {
  .header-location-container,
  .header-return {
    display: none !important;
  }
  .header-upper {
    height: 45px;
  }

  .header-logo-wrap {
    width: 50px;
    height: 80%;
    margin-left: 2px;
  }
  .header-logo {
    width: 50px;
    height: 22px;
    background-position: -5px -52px;
    background-size: 225px;
  }
  .header-tools {
    margin-right: 12px;
    font-size: 13px;
    width: fit-content;
  }
  .header-signin {
    height: 100%;
    padding: 0px;
  }
  .header .header-upper .header-tools .header-signin .header-signin-dropdown {
    left: -110px;
  }
  .header-line1 {
    font-size: 9px;
    line-height: 10px;
    height: 14px;
    font-weight: 300;
  }

  .header-line2 {
    font-size: 10px;
    line-height: 14px;
    height: 14px;
    font-weight: 600;
    color: white;
  }

  .header-bracket-container {
    width: fit-content;
    height: 100%;
  }
  .header-bracket-icon {
    width: 25px;
    height: 25px;
    background-position: -08px -200px;
    background-size: 210px;
  }
  .header-counter-number {
    font-size: 13px;
    left: 6px;
  }
}

@media only screen and (max-width: 400px) {
  .header-search-submit {
    width: 30px;
  }
  .header-search-icon {
    background-position: -8px -245px;
    background-size: 300px;
    width: 30px;
    height: 35px;
  }

  .header-search-label {
    /* display: block; */
    min-width: 18px;
  }
}
