.Home-Products {
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 250px;
    left: 0;
    border: solid 2px red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}